.logos
{
 
    color: rgb(3, 51, 35);
    
}

.dropdowns
{
    position: relative;
}

.dropdowns > .links:focus,.links:hover
{
    color: black;
}
.dropdown-menus
{
    
    position: absolute;
    /* left:0;
    top:calc(100% + .25rem); */
    background-color: white;
    /* border-radius: .25rem; */
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
    border-top: 1px solid black;
}

.dropdowns > .links:focus + .dropdown-menus
{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
   
}
button
{
    border: none;
    background-color: transparent;
}

.drop-items
{
    padding: 5px 2px 8px 2px;
  
    
}